body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.title-wrapper {
    display: flex;
    justify-content: center;
}

.logo-wrapper {
    margin-top: 20px;
    text-align: center;
}

#logo {
    height: 120px;
    width: 120px;
}

.data-wrapper {
    padding: 2.5vw;
    /* margin-left: 32.5vw; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.plot-wrapper {
    width: 45vw;
    height: 55vh;
}